{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}  
  <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-4xl sm:tracking-tight text-center pt-4">Enrolled Events</h2>
  <p class="text-sm text-gray-500 text-center p-4">When you sign up for event tournaments you can conveniently access them here.  Keep up with relevant dates and information.</p>
  <div class="container flex justify-center mx-auto pt-4">
    <div class="flex flex-col">
        <div class="w-full">
            <div class="border-b border-gray-200 shadow">
                <table class="divide-y divide-gray-300 ">
                    <thead class="bg-gray-50">
                        <tr>
                            <th class="px-6 py-2 text-base text-gray-500">
                                Nama Event
                            </th>
                            <th class="px-6 py-2 text-base text-gray-500">
                                Tahun
                            </th>
                            <th class="px-6 py-2 text-base text-gray-500">
                                Stadium
                            </th>
                            <th class="px-6 py-2 text-base text-gray-500">
                                Kategori Superseries
                            </th>
                            <th class="px-6 py-2 text-base text-gray-500">
                                Tanggal Mulai
                            </th>
                            <th class="px-6 py-2 text-base text-gray-500">
                                Tanggal Selesai
                            </th>
                            <th class="px-6 py-2 text-base text-gray-500">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-300">
                        {% for event in data_enrolled_event %}
                        <tr class="whitespace-nowrap">
                            <td class="px-6 py-4 text-sm text-gray-500">
                                {{ event.nama_event }}
                            </td>
                            <td class="px-6 py-4 text-sm text-gray-500">
                                {{ event.tahun }}
                            </td>
                            <td class="px-6 py-4">
                                <div class="text-sm text-gray-500">{{ event.nama_stadium }}</div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="text-sm text-gray-500">{{ event.kategori_superseries }}</div>
                            </td>
                            <td class="px-6 py-4 text-sm text-gray-500">
                              {{ event.tgl_mulai }}
                            </td>
                            <td class="px-6 py-4 text-sm text-gray-500">
                              {{ event.tgl_selesai }}
                            </td>
                            <td class="px-6 py-4">
                                <span class="sm:ml-3">
                                    <button type="button" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" style="background-color: red;">
                                      <a href="delete_event/{{event.nama_event}}/{{event.tahun}}">Unenrolled</a> 
                                    </button>
                                  </span>
                            </td>
                        </tr>
                      {% endfor %} 
                    </tbody>
                </table>

                {% if list_enrolled_event %}
                <p class="text-sm text-gray-700 text-center p-4">{{ list_enrolled_event }}</p>
                {% endif %} 

                {% if messages %}
                  <div class="bg-red-500 text-white p-4 rounded-md mb-4">
                      {% for message in messages %}
                          {{ message }}
                      {% endfor %}
                      <button type="button" class="float-right p-2" onclick="this.parentElement.remove()">
                          <svg class="fill-current h-4 w-4 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                              <path d="M10 8.586L16.95 1.636A1 1 0 1 1 18.364 3.05L11.414 10l6.95 6.95a1 1 0 1 1-1.414 1.414L10 11.414l-6.95 6.95a1 1 0 1 1-1.414-1.414L8.586 10 1.636 3.05A1 1 0 1 1 3.05 1.636L10 8.586z"/>
                          </svg>
                      </button>
                  </div>
              {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}