{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}  
  <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-4xl sm:tracking-tight text-center pt-4">Enrolled Partai Kompetisi Event</h2>
  <p class="text-sm text-gray-500 text-center p-4">When you sign up for event tournaments you can conveniently access them here.  Keep up with relevant dates and information.</p>
  <div class="container flex justify-center mx-auto pt-4">
    <div class="flex flex-col">
        <div class="w-full">
            <div class="border-b border-gray-200 shadow">
                <table class="divide-y divide-gray-300 ">
                    <thead class="bg-gray-50">
                        <tr>
                            <th class="px-6 py-2 text-base text-gray-500">
                                Nama Event
                            </th>
                            <th class="px-6 py-2 text-base text-gray-500">
                                Tahun
                            </th>
                            <th class="px-6 py-2 text-base text-gray-500">
                                Stadium
                            </th>
                            <th class="px-6 py-2 text-base text-gray-500">
                                Jenis Partai
                            </th>
                            <th class="px-6 py-2 text-base text-gray-500">
                                Kategori Superseries
                            </th>
                            <th class="px-6 py-2 text-base text-gray-500">
                                Tanggal Mulai
                            </th>
                            <th class="px-6 py-2 text-base text-gray-500">
                                Tanggal Selesai
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-300">
                        {% for partai_kompetisi in data_enrolled_partai_kompetisi_event %}
                        <tr class="whitespace-nowrap">
                            <td class="px-6 py-4 text-sm text-gray-500">
                                {{ partai_kompetisi.nama_event }}
                            </td>
                            <td class="px-6 py-4 text-sm text-gray-500">
                                {{ partai_kompetisi.tahun }}
                            </td>
                            <td class="px-6 py-4">
                                <div class="text-sm text-gray-500">{{ partai_kompetisi.nama_stadium }}</div>
                            </td>
                            <td class="px-6 py-4">
                              <div class="text-sm text-gray-500">{{ partai_kompetisi.jenis_partai }}</div>
                          </td>
                            <td class="px-6 py-4">
                                <div class="text-sm text-gray-500">{{ partai_kompetisi.kategori_superseries }}</div>
                            </td>
                            <td class="px-6 py-4 text-sm text-gray-500">
                              {{ partai_kompetisi.tgl_mulai }}
                            </td>
                            <td class="px-6 py-4 text-sm text-gray-500">
                              {{ partai_kompetisi.tgl_selesai }}
                            </td>
                        </tr>
                      {% endfor %} 
                    </tbody>
                </table>
                {% if list_partai_kompetisi %}
                <p class="text-sm text-gray-700 text-center p-4">{{ list_partai_kompetisi }}</p>
                {% endif %} 
            </div>
        </div>
    </div>
</div>

{% endblock content %}