{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<main class="py-6">
    <div class="flex flex-col align-items-center justify-content-center w-screen min-h-screen bg-white-900 px-10 py-10">
        <section id="perempat-final" style="display: block;">
            <div class="py-4">
                <h1 class="text-center text-2xl text-gray-900 dark:text-graya font-semibold">Profile Pengguna</h1>
            </div>
            <div class="grid grid-cols-3 gap-x-3 gap-y-3">
                <div></div>
                {% if request.session.is_atlet %}
                <div
                    class="w-full bg-white rounded-lg shadow dark:border md:mt-4 sm:max-w-md xl:p-8 dark:bg-gray-800 dark:border-red-700">
                    <p class="mb-3 font-normal text-white dark:text-white">Nama lengkap : {{ user_logged_in.nama }}
                    </p>
                    <p class="mb-3 font-normal text-white dark:text-white">Negara       : {{ user_logged_in.negara_asal }}
                    </p>
                    <p class="mb-3 font-normal text-white dark:text-white">Email        : {{ user_logged_in.email }}
                    </p>
                    <p class="mb-3 font-normal text-white dark:text-white">Tanggal lahir: {{ user_logged_in.tgl_lahir }}
                    </p>
                    {% if user_logged_in.play_right %}
                    <p class="mb-3 font-normal text-white dark:text-white">Play         : Right Hand</p>
                    {% else %}
                    <p class="mb-3 font-normal text-white dark:text-white">Play         : Left Hand</p>
                    {% endif %}
                    <p class="mb-3 font-normal text-white dark:text-white">Tinggi badan : {{ user_logged_in.height }}</p>
                    {% if user_logged_in.jenis_kelamin %}
                    <p class="mb-3 font-normal text-white dark:text-white">Jenis kelamin: Laki - laki</p>
                    {% else %}
                    <p class="mb-3 font-normal text-white dark:text-white">Jenis kelamin: Perempuan</p>
                    {% endif %}
                    <p class="mb-3 font-normal text-white dark:text-white">Pelatih      : 
                    </p>
                    <p class="mb-3 font-normal text-white dark:text-white">Status       : 
                    </p>
                    <p class="mb-3 font-normal text-white dark:text-white">World rank   : {{ user_logged_in.world_rank }}
                    </p>
                    <p class="mb-3 font-normal text-white dark:text-white">Total poin   : 
                    </p>
                </div>
                {% endif %}
                {% if request.session.is_pelatih %}
                <div
                    class="w-full bg-white rounded-lg shadow dark:border md:mt-4 sm:max-w-md xl:p-8 dark:bg-gray-800 dark:border-red-700">
                    <p class="mb-3 font-normal text-white dark:text-white">Nama lengkap    : {{ user_logged_in.nama }}</p>
                    <p class="mb-3 font-normal text-white dark:text-white">Negara          : {{ user_logged_in.negara }}</p>
                    <p class="mb-3 font-normal text-white dark:text-white">Email           : {{ user_logged_in.email }}</p>
                    <p class="mb-3 font-normal text-white dark:text-white">Spesialisasi Kategori: {{ spesialisasi }}</p>
                    <p class="mb-3 font-normal text-white dark:text-white">Tanggal Mulai   : {{tanggal_mulai}}</p>
                </div>
                {% endif %}
                {% if request.session.is_umpire %}
                <div
                    class="w-full bg-white rounded-lg shadow dark:border md:mt-4 sm:max-w-md xl:p-8 dark:bg-gray-800 dark:border-red-700">
                    <p class="mb-3 font-normal text-white dark:text-white">Nama lengkap : {{ user_logged_in.nama }}</p>
                    <p class="mb-3 font-normal text-white dark:text-white">Negara       : {{ user_logged_in.negara }}</p>
                    <p class="mb-3 font-normal text-white dark:text-white">Email        : {{ user_logged_in.email }}</p>
                </div>
                {% endif %}
            </div>
        </section>
    </div>
    </div>
    </div>
    </div>
</main>
</html>
{% endblock content %}
